body{
    background-color:#FFBABA ;
}
hr{
    background-color:transparent;
    border-style: none;
    border-top-style:dotted ;
    border-color: #C85C8E;
    border-width: 6px;
    width: 10%;
    
}
h1, h3{
    color: #7B2869;
}